# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
falcon==2.0.0       # core
SQLAlchemy==1.3.18  # core
Mako==1.1.3         # core
alembic==1.4.2      # core
cacheout==0.11.2    # core
redis==3.5.3        # core
jsonschema==3.2.0   # core
configobj==5.0.6	# core
celery==4.4.7       # contrib.celery
